/* importing roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* all elements */
body {
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
    margin-right: 0;
}


nav {
    float: right;
    padding-right: 5%;
}


a {
    text-decoration: none;
    color: black;
    padding: 26px;
    padding-bottom: 4px;
}

a.active {
    border-bottom: 2px solid black;
}
h1 {
    font-size: 4rem;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* index */
#title {
    width: 80%;
    margin: auto;
}

img {
    margin: none;
}


.cta {
    background-color: blanchedalmond;
    padding-top: 5%;
    padding-bottom: 5%;
}