/* importing roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* all elements */
body {
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
    margin-right: 0;
}




nav {
    float: right;
    padding-right: 5%;
    padding-top: 2%;
}

img.logo {
    padding-top: 2%;
}

a {
    text-decoration: none;
    color: black;
    padding: 26px;
    padding-bottom: 4px;
}


a.active {
    border-bottom: 2px solid black;
}
h1 {
    font-size: 4rem;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;
    background-color: #d2dae2;
    /* color: #fff; */
}

.message {
    text-align: center;
    font-size: small;
}

#ntnu {
    width: 120px;
}


/* index */
#title {
    width: 60%;
    padding-left: 5%;
}

.bg {
    background-image: url("https://images.unsplash.com/photo-1556118308-4661571b670e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    /* background-image: url("../media/background.jpeg"); */
    /* border: 12px solid pink; */
    padding-top: 20%;
    padding-bottom: 20%;

        /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    width: 80%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
}

h2 {
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 2%;
}

p {
    padding-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.8;
}

.cta {
    background-color: #ffc048;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.cta p {
    width: 45%;
}


/* gamepage */
#game {
    background-color: cadetblue;
}

.gamebutton {
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.gamebutton:hover {
	background-color:#5cbf2a;
}
.gamebutton:active {
	position:relative;
	top:1px;
}

        



/* input page */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 0px; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #53c49a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}